{
  "nyc": {
    "all": true,
    "include": [
      "lib/**.ts",
      "server/**.ts",
      "plugins/**.ts",
      "actors/**.ts",
      "apps/**.ts"
    ],
    "exclude": [
      "bin/**.ts"
    ]
  }
}