
<!--<nav class="navbar navbar-light" style="background-color: #039454;">-->
<nav class="navbar navbar-dark " style="background-color: #039454;">

  <div class='container'>
    <div class='float-left'>
      {{#if this.session.isAuthenticated}}
        {{#link-to "payments"}}
          <img class='float-left logo' src="/white.png"/>
        {{/link-to}}
      {{else}}
        <img class='float-left logo' src="/white.png"/>
      {{/if}}
      <h1 class='float-left'>{{#link-to "cities"}}Anypay City{{/link-to}}</h1>
      {{#if connected}}
        <span class="badge badge-success">connected</span>
      {{else}}
        <span class="badge badge-dark">not connected</span>
      {{/if}}


      {{#if this.session.isAuthenticated}}
        {{#link-to "logout"}}sign out{{/link-to}}
      {{else}}
        <a href="/auth/moneybutton">sign in</a>
      {{/if}}

    </div>
  </div>

</nav>

<div class='container bodycontainer'>

<div style='display:none' class="loading"></div>
  {{outlet}}

</div>
