{{outlet}}

<table class='table table-striped'>
  {{#each cities as |city|}}
    <tr onclick={{action 'cityClicked' city}}>
      <td>
        {{city.name}}
      </td>

      <td>
        {{#if city.accounts}}
          <span class="badge badge-success">{{city.accounts.length}}</span>
        {{/if}}
      </td>

    </tr>
  {{/each}}
</table>

