
<div id="home">
  <img src="/dash.png"/>
  <h1>Dash Checkout</h1>

  <p>Pair this app with your AnyPay account to accept dash anytime, anywhere.</p>

  <br/>
  <br/>
  <span class='get-started'>
  {{#link-to "new-invoice"}}GET STARTED{{/link-to}}
  </span>
  {{outlet}}
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <h2>anypay</h2>
</div>

