<div class="paid">

  <h1>Paid</h1>
  <br/>
  <h2>DASH {{amount}}</h2>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <a class="link-to-new-invoice" onclick={{action 'newInvoice'}}>Next Payment</a>
  {{outlet}}
</div>
