
<!--<nav class="navbar navbar-light" style="background-color: #039454;">-->
<nav class="navbar navbar-dark " style="background-color: black;">


  <form class='search-form'{{action "searchLocation" on="submit"}}>
    {{input class='search-city' type="search" value=this.search placeholder="search city or address"}}
  </form>


</nav>

<div class='container bodycontainer'>

<div id="loader-wrapper">
    <div id="loader"></div>
</div>

<div style='display:none' class="loading"></div>
  {{outlet}}

</div>
