{{outlet}}

<div class='home'>

  <button style="width: 100%; padding: 2em; border: 0px" {{action 'findNearby'}} class="nearby-button">Find
  Nearby</button>

  <p>or</p>

  <button style="width: 100%; padding: 2em; border: 0px">{{#link-to "search-city"}}Search City{{/link-to}}</button>

</div>
