{{outlet}}

<h1>Leaderboard</h1>

<table class='leaderboard table table-striped'>
  {{#each leaderboard as |account i|}}
    <tr>

      <td>
        {{i}}) {{account.business_name}}
      </td>

    </tr>
  {{/each}}
</table>

