{{outlet}}

<script id="merchant-popup-template" type="text/x-handlebars-template">
</script>

<div class="container">
  <div class='map-location-chosen'>
    <h1>{{location}}</h1>
  </div>
  <div id='map' class='map'>
  </div>
</div>
