{{outlet}}

<form {{action "searchLocation" on="submit"}}>
  {{input style="width:100%;padding:1em" type="search" value=this.search placeholder="search city or address"}}
  {{input style="width:100%;padding:1em" class='search-city-page' type="submit" value="submit"}}
</form>
